<launch>

	<!-- This node will launch MAVROS -->
	<include file="$(find mavros)/launch/apm.launch"/>
	<rosparam param="mavros/system_id">1</rosparam>
	<rosparam param="mavros/component_id">240</rosparam>
	<rosparam param="mavros/fcu_url">/dev/ttyACM0:115200</rosparam>
	
	<node name="run_node" pkg="briit" type="offb_node" output="screen" />


</launch>