<launch>

	<!-- This node will launch MAVROS -->
	<include file="$(find mavros)/launch/apm.launch"/>
	<rosparam param="mavros/system_id">1</rosparam>
	<rosparam param="mavros/component_id">240</rosparam>
	<!--
	<rosparam param="mavros/fcu_url">/dev/ttyACM0:115200</rosparam>
	-->
	<rosparam param="mavros/fcu_url">"udp://127.0.0.1:14551@14555"</rosparam>
	<!-- This node will run  run.cpp and server.py -->
	<node name="run_node" pkg="briit" type="run_node" output="screen" />
	<!-- add delay waiting webcam to turn on -->
	<arg name="node_start_delay" default="5.0" />  
	<node name="run_server" pkg="briit" type="run_server.py"  output="screen"/>

</launch>